<!doctype html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ head_title|safe_join(' | ') }}</title>

    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes }}>
    <a class="visually-hidden focusable" href="#main-content">{{ 'Skip to main content'|t }}</a>

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
